/* address */
 .address{
    display: flex;
    justify-content: space-evenly
 }

 .wrape{
    display: flex;
    gap: 10px;
 }
 .first{
    width: 50%;
 }
 .second {
    width: 50%;
    border: 1px solid #cac8c8;
 }

 .user_address{
    width: 50%;
 }

 .user_address input{
    border: 1px solid #1b1616;
    border-radius: 10px;
    padding-left: 15px;
 }

 
 

 /* User Payment */

 .user_payment{
    width: 30%;

 }

 .Summery{
    border: 1px solid #dcd9d9;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
 }
 .Summery > h2{
    font-size: large;
    padding-bottom: 30px;
    font-weight: 600;
 }
 .subtotal {
    display: flex;
    justify-content: space-between;
 }
 .subtotal >p {
    
    font-weight: 400;
    font-size: 17px;
 }
.delevary{
    display: flex;
    justify-content: space-between;
}
.delevary >p{
    
    font-weight: 400;
    font-size: 17px;
    
}

.total_amount{
    display: flex;
    justify-content: space-between;
    
}
.total_amount > h3 {
    font-size: large;
    font-weight: 600;
    
    color: rgba(232, 154, 8, 0.915);
}

/* payment_method */

.payment_method{
    border: 1px solid #c8c5c5;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
.payment_method > h2 {
    font-size: large;
    font-weight: 600;
}

.payment_option{
    display: flex;
    align-items: center;
}
.payment_option input {
    width: 15px;
}
.payment_option label{
    margin-top: 10px;
    padding-left: 10px;
}

@media only screen and (max-width: 760px){
    .address{
        display: flex;
        flex-direction: column;
        padding: 30px;
     }
     .user_address{
        width: 100%;
        padding: 20px;
     }
     .user_payment{
        width: 100%;
    
     }
     
}