/* Styling for the banner slider container */
.banner-slider {
    position: relative;
    width: 100%;
 /* Adjust the maximum width as needed */
    margin: 0 auto;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    
    
  }

  .banner {
    width: 100%; /* Adjust the max width as needed */
    overflow: hidden;
    position: relative;
  }
  
  /* Styling for the banner images */
  .banner-slider img {
    width: 100%;
    height: 300px;
    display: block;
    
    border: 5px solid rgb(234, 235, 234);
     
    
  }

  /* .banner-slider .image img {
    transform: translateY(-50%);
    transition: transform 0.5s ease;
    animation: slide 5s infinite alternate;
  } */
  
  /* Styling for the navigation buttons */
  .banner-slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(252, 250, 250);
    color: rgb(24, 24, 24);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 16px;
    border-radius: 0px 5px 5px 0px;
    
  }
  
  .banner-slider button:hover {
    background: #fff;
  }
  
  .banner-slider button:first-child {
    left: 0;
    
  }
  
  .banner-slider button:last-child {
    right: 0;
    border-radius: 5px 0px 0px 5px;
  }
  
  .dot-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .dot {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 6px;
    cursor: pointer;
  }
  
  .dot.Active {
    background-color: #d37777;
  }

  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    10% {
      transform: translateX(-100%);
    }
    20% {
      transform: translateX(-100%);
    }
    30% {
      transform: translateX(-200%);
    }
    40% {
      transform: translateX(-200%);
    }
    50% {
      transform: translateX(-200%);
    }
    60% {
      transform: translateX(-300%);
    }
    70% {
      transform: translateX(-300%);
    }
    80% {
      transform: translateX(-300%);
    }
    90% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(0%);
    }
  }