.header {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.main{
    padding: 1rem;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product {
    border: 1px #404040 solid;
    margin: 1rem;
}
.product__image {
    width: 100%;
    max-width: 400px;
}
.product__info{
    padding: 1rem;
}
.img-large {
    height: 80vh;
    
}
.cartScreen__image > img {
    height: 60px;
    width: 60px;
}
.product__container {
    padding-top: 50px;
}
.img-thumbnile{
    height: 80px;
}
.small-container {
    max-width: 600px;
}
.chekcout-steps > div {
    border-bottom: 0.2rem solid #a0a0a0;
    color: #a0a0a0;
    margin-right: 4px;
}
.chekcout-steps > div.active {
    border-bottom: 0.2rem solid orange;
    color: orange;
}
