.allOrder {
    padding-left: 255px;
    padding-right: 5px;
    padding-top: 40px;
}
.allOrder > table {
    width: 90%;
}
.allOrder > table >thead {
    color: rgb(65, 114, 212);
    box-shadow: 0 6px 16px rgba(0,0,0,.12); 
    
}
.head > th {
    padding: 10px;
}
.cancel{
    color: white;
    font-weight: bold;
    font-size: large;
}
.cancel > p {
    background-color: red;
    padding-left: 24px;
    border-radius: 10px;
}
.shipped{
    color: white;
    font-weight: bold;
    font-size: large;
    
}
.shipped > p {
    background-color: green;
    padding-left: 22px;
    border-radius: 5px;
}
