.sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
}
.sidebar {
  padding: 5px 10px;
}
.sidebar > h1 {
  
font-size: 20px;
line-height: 52px;
text-align: center;

}
.sidebar__link {
  padding-top: 10px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  background: none;
}

.sidebar__link :hover {
  text-decoration: none;
  display: block;
}