.sidebarRow {
    display: flex;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
  }
  .sidebarRow:hover {
    background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
    border-radius: 10px;
  }
  .sidebarRow > p {
    margin-left: 20px;
    color: black;
  }
  
  .sidebarRow > .MuiSvgIcon-root {
    font-size: large;
    color: #2e81f4;
  }