.sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.sidebar {
  padding: 5px 10px;
}
.sidebar__link {
  text-decoration: none;
  display: block;
  background: none;
}

.dashboard {
  text-decoration: none;
  
}